@{
    ViewBag.Title = "Payroll System";
    ViewBag.PageTitle = "Payroll System Module";
    Layout = "~/Views/Shared/_LayoutPayroll.cshtml";
}

<style>
    .control-space {
        margin-top: 8px;
    }

    label {
        font-weight: bold;
        font-family: Arial,'Times New Roman', Times, serif;
        font-size: 14px;
    }

    .tab-border {
        border: 1px solid gray;
        margin-right: 5px;
        color: black;
    }

    .hide-txt {
        display: none !important;
    }

    .actionbtn {
        padding: 2px;
        margin: 2px;
    }
    .black {
        color: rgba(0, 0, 0, 0.79);
        font-size: 22px;
        font-weight: bold;
    }
</style>
<div class="card">
    <div class="card-header"><strong>Staff Setup</strong></div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            <br />
            <div class="alert alert-danger" id="lblErrorMsg">
            </div>

            <div class="alert alert-success" id="lblSuccessMsg">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div style="border:1px solid black;">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-salary-tab" data-toggle="pill" href="#pills-salary" role="tab" aria-controls="pills-salary" aria-expanded="true">Salary Setup</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-staffLoan-tab" data-toggle="pill" href="#pills-staffLoan" role="tab" aria-controls="pills-staffLoan" aria-expanded="true">Staff Loan Setup</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-penalty-tab" data-toggle="pill" href="#pills-penalty" role="tab" aria-controls="pills-penalty" aria-expanded="true">Penalty Deduction</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-paye-tab" data-toggle="pill" href="#pills-paye" role="tab" aria-controls="pills-paye" aria-expanded="true">PAY E</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-salary" role="tabpanel" aria-labelledby="pills-salary-tab">
                                <button class="btn btn-primary ml-5" type="submit" id="NewSalary" style="margin-right: 5px;"><i class="fa fa-file-o"></i> New</button>
                                <br />
                                <div class="row">
                                    <div class="col-md-10">
                                        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-inline" }))
                                        {
                                            <div class="row">
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Staff ID:</label>
                                                </div>
                                                <div class="col-md-7 control-space">
                                                    @Html.DropDownList("staffId", Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control control-input-border", id = "cbostaffId" })
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Staff Name:</label>
                                                </div>
                                                <div class="col-md-7 control-space">
                                                    @Html.TextBox("staffName", null, new { @class = "form-control control-input-border", id = "cboStaffName", @readonly = "true" })
                                                    @Html.TextBox("staffName", null, new { @class = "form-control control-input-border hide-txt", placeholder = "Type Name here", id = "txtstaffNameAdd" })
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Pay Period:</label>
                                                </div>
                                                <div class="col-md-7 control-space">
                                                    @Html.DropDownList("period", new List<SelectListItem> {new SelectListItem {Text="Monthly",Value="Monthly" },
                                                    new SelectListItem { Text = "Annually", Value = "Annually" }},
                                                    "----Select----", new { @class = "form-control control-input-border", id = "cboPeriod" })
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Basic Allowance:</label>
                                                </div>
                                                <div class="col-md-2 control-space">
                                                    @Html.DropDownList("allowanceDes1", Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control control-input-border", id = "cboallowanceDes1" })
                                                </div>
                                                <div class="col-md-2 control-space">
                                                    @Html.TextBox("allowanceType1", null, new { @class = "form-control control-input-border", id = "cboallowanceType1", @readonly= "true", placeholder = "Allowance Type"})
                                                </div>
                                                <div class="col-md-1 control-space">
                                                    @Html.TextBox("allPercent1", null, new{@class = "form-control control-input-border", id = "txtallPercent1", @readonly = "true", placeholder = "%"})
                                                </div>
                                                <div class="col-md-2 control-space">
                                                    @Html.TextBox("allAmount1", null, new { @class = "form-control control-input-border", id = "txtallAmount1", @readonly = "true"})
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Housing Allowance:</label>
                                                </div>
                                                <div class="col-md-2 control-space">
                                                    @Html.DropDownList("allowanceDes2", Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control control-input-border", id = "cboallowanceDes2" })
                                                </div>
                                                <div class="col-md-2 control-space">
                                                    @Html.TextBox("allowanceType2", null, new { @class = "form-control control-input-border", id = "cboallowanceType2",  @readonly= "true", placeholder = "Allowance Type"})
                                                </div>
                                                <div class="col-md-1 control-space">
                                                    @Html.TextBox("allPercent2", null, new{@class = "form-control control-input-border", id = "txtallPercent2", @readonly = "true", placeholder = "%"})
                                                </div>
                                                <div class="col-md-2 control-space">
                                                    @Html.TextBox("allAmount2", null, new{@class = "form-control control-input-border", id = "txtallAmount2", @readonly = "true"})
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Transport Allowance:</label>
                                                </div>
                                                <div class="col-md-2 control-space">
                                                    @Html.DropDownList("allowanceDes3", Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control control-input-border", id = "cboallowanceDes3" })
                                                </div>
                                                <div class="col-md-2 control-space">
                                                    @Html.TextBox("allowanceType3", null, new { @class = "form-control control-input-border", id = "cboallowanceType3",  @readonly= "true", placeholder = "Allowance Type"})
                                                </div>
                                                <div class="col-md-1 control-space">
                                                    @Html.TextBox("allPercent3", null, new{@class = "form-control control-input-border", id = "txtallPercent3", @readonly = "true", placeholder = "%"})
                                                </div>
                                                <div class="col-md-2 control-space">
                                                    @Html.TextBox("allAmount3", null, new { @class = "form-control control-input-border", id = "txtallAmount3", @readonly = "true"})
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Utility Allowance:</label>
                                                </div>
                                                <div class="col-md-2 control-space">
                                                    @Html.DropDownList("allowanceDes4", Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control control-input-border", id = "cboallowanceDes4" })
                                                </div>
                                                <div class="col-md-2 control-space">
                                                    @Html.TextBox("allowanceType4", null, new { @class = "form-control control-input-border", id = "cboallowanceType4",  @readonly= "true", placeholder = "Allowance Type"})
                                                </div>
                                                <div class="col-md-1 control-space">
                                                    @Html.TextBox("allPercent4", null, new{@class = "form-control control-input-border", id = "txtallPercent4", @readonly = "true", placeholder = "%"})
                                                </div>
                                                <div class="col-md-2 control-space">
                                                    @Html.TextBox("allAmount4", null, new { @class = "form-control control-input-border", id = "txtallAmount4", @readonly = "true"})
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Lunch Allowance:</label>
                                                </div>
                                                <div class="col-md-2 control-space">
                                                    @Html.DropDownList("allowanceDes5", Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control control-input-border", id = "cboallowanceDes5" })
                                                </div>
                                                <div class="col-md-2 control-space">
                                                    @Html.TextBox("allowanceType5", null, new { @class = "form-control control-input-border", id = "cboallowanceType5",  @readonly= "true", placeholder = "Allowance Type"})
                                                </div>
                                                <div class="col-md-1 control-space">
                                                    @Html.TextBox("allPercent5", null, new{@class = "form-control control-input-border", id = "txtallPercent5", @readonly = "true", placeholder = "%"})
                                                </div>
                                                <div class="col-md-2 control-space">
                                                    @Html.TextBox("allAmount5", null, new { @class = "form-control control-input-border", id = "txtallAmount5", @readonly = "true"})
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Other Allowance:</label>
                                                </div>
                                                <div class="col-md-2 control-space">
                                                    @Html.DropDownList("allowanceDes6", Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control control-input-border", id = "cboallowanceDes6" })
                                                </div>
                                                <div class="col-md-2 control-space">
                                                    @Html.TextBox("allowanceType6", null, new { @class = "form-control control-input-border", id = "cboallowanceType6", @readonly = "true", placeholder = "Allowance Type" })
                                                </div>
                                                <div class="col-md-1 control-space">
                                                    @Html.TextBox("allPercent6", null, new { @class = "form-control control-input-border", id = "txtallPercent6", @readonly = "true", placeholder = "%" })
                                                </div>
                                                <div class="col-md-2 control-space">
                                                    @Html.TextBox("allAmount6", null, new { @class = "form-control control-input-border", id = "txtallAmount6", @readonly = "true" })
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Gross Salary:</label>
                                                </div>
                                                <div class="col-md-7 control-space">
                                                    @Html.TextBox("amount", null, new { @class = "form-control control-input-border", id = "txtamount"})
                                                </div>
                                                <div class="col-md-3"></div>
                                                <div class="col-md-3 control-space">
                                                    <button class="btn btn-dark" type="button" style="margin-bottom:10px;" id="calAllowance"><i class="fa fa-calculator"></i> Calculate Allowance </button>
                                                </div>
                                                <div class="col-md-3"></div>
                                                <div class="col-md-3 control-space">
                                                    <button class="btn btn-outline-info" style="margin-bottom:10px;" type="button" id="SaveSalary"><i class="fa fa-save"></i> Save </button>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-staffLoan" role="tabpanel" aria-labelledby="pills-staffLoan-tab">
                                @*<button class="btn btn-primary ml-5" type="submit" id="NewstaffLoan" style="margin-right: 5px;"><i class="fa fa-file-o"></i> New</button>*@
                                <br />
                                <div class="row">
                                    <div class="col-md-10">
                                        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-inline" }))
                                        {
                                        <div class="row">
                                            <div class="col-md-3 control-space ml-2">
                                                <label class="label">Staff ID:</label>
                                            </div>
                                            <div class="col-md-7 control-space">
                                                @Html.DropDownList("staffIdLoan", Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control control-input-border", id = "cbostaffIdLoan" })
                                            </div>
                                            <div class="col-md-3 control-space ml-2">
                                                <label class="label">Staff Name:</label>
                                            </div>
                                            <div class="col-md-7 control-space">
                                                @Html.TextBox("staffNameLoan", null, new { @class = "form-control control-input-border", id = "cboStaffNameLoan", @readonly = "true" })
                                                @Html.TextBox("staffNameLoan", null, new { @class = "form-control control-input-border hide-txt", placeholder = "Type Name here", id = "txtstaffNameAddLoan" })
                                            </div>
                                            <div class="col-md-3 control-space ml-2">
                                                <label class="label">Gross Salary:</label>
                                            </div>
                                            <div class="col-md-7 control-space">
                                                @Html.TextBox("staffSalary", null, new { @class = "form-control control-input-border", id = "cbostaffSalary", @readonly = "true" })
                                            </div>
                                            <div class="col-md-3 control-space ml-2">
                                                <label class="label">Loan Type:</label>
                                            </div>
                                            <div class="col-md-7 control-space">
                                                @Html.DropDownList("staffLoan", Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control control-input-border", id = "cbostaffLoanType" })
                                            </div>
                                            <div class="col-md-3 control-space ml-2">
                                                <label class="label">Loan Amount:</label>
                                            </div>
                                            <div class="col-md-7 control-space">
                                                @Html.TextBox("staffLoanAmt", null, new { @class = "form-control control-input-border", id = "cbostaffLoanAmt", placeholder = "Enter Loan Amount"})
                                            </div>
                                            <div class="col-md-3 control-space ml-2">
                                                <label class="label">Interest (%):</label>
                                            </div>
                                            <div class="col-md-7 control-space">
                                                @Html.TextBox("interest", null, new { @class = "form-control control-input-border", id = "txtinterest"})
                                            </div>
                                            <div class="col-md-3 control-space ml-2">
                                                <label class="label">Total Loan Amount:</label>
                                            </div>
                                            <div class="col-md-7 control-space">
                                                @Html.TextBox("totalLoanAmt", null, new { @class = "form-control control-input-border", id = "txttotalLoanAmt", placeholder = ""})
                                            </div>
                                            <div class="col-md-3 control-space ml-2">
                                                <label class="label">No of Installment:</label>
                                            </div>
                                            <div class="col-md-7 control-space">
                                                @Html.DropDownList("installment", new List<SelectListItem>
                                                    { new SelectListItem {Text="1",Value="1" },
                                                    new SelectListItem { Text = "2", Value = "2" },
                                                    new SelectListItem { Text = "3", Value = "3" }, new SelectListItem { Text = "4", Value = "4" },
                                                    new SelectListItem { Text = "5", Value = "5" }, new SelectListItem { Text = "6", Value = "6" },
                                                    new SelectListItem { Text = "7", Value = "7" }, new SelectListItem { Text = "8", Value = "8" },
                                                    new SelectListItem { Text = "9", Value = "9" }, new SelectListItem { Text = "10", Value = "10" }
                                                    }, "Select...", new { @class = "form-control control-input-border", id = "txtinstallment" })
                                            </div>
                                            <div class="col-md-3 control-space ml-2">
                                                <label class="label">Repayment Amount:</label>
                                            </div>
                                            <div class="col-md-7 control-space">
                                                @Html.TextBox("repaymentAmt", null, new { @class = "form-control control-input-border", id = "txtrepaymentAmt", placeholder = ""})
                                            </div>
                                            <div class="col-md-3 ml-2 control-space"></div>
                                            <div class="col-md-7 control-space">
                                                <button class="btn btn-outline-info" style="margin-bottom:10px;" type="button" id="SaveStaffLoan"><i class="fa fa-save"></i> Save </button>
                                            </div>
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-penalty" role="tabpanel" aria-labelledby="pills-penalty-tab">
                                @*<button class="btn btn-primary ml-5" type="submit" id="NewLoan" style="margin-right: 5px;"><i class="fa fa-file-o"></i> New</button>*@

                                <br />
                                <div class="row">
                                    <div class="col-md-10">
                                        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-inline" }))
                                        {
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Staff ID:</label>
                                                </div>
                                                <div class="col-md-7 control-space">
                                                    @Html.DropDownList("staffIdDed", Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control control-input-border", id = "cbostaffIdDed" })
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Staff Name:</label>
                                                </div>
                                                <div class="col-md-7 control-space">
                                                    @Html.TextBox("staffNameDed", null, new { @class = "form-control control-input-border", id = "cboStaffNameDed", @readonly = "true" })
                                                    @Html.TextBox("staffNameDed", null, new { @class = "form-control control-input-border hide-txt", placeholder = "Type Name here", id = "txtstaffNameAddDed" })
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Penalty Type:</label>
                                                </div>
                                                <div class="col-md-7 control-space">
                                                    @Html.DropDownList("penaltyType", Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control control-input-border", id = "cbopenaltyType" })
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Deduction Type:</label>
                                                </div>
                                                <div class="col-md-7 control-space">
                                                    @Html.TextBox("deductionType", null, new { @class = "form-control control-input-border", id = "cbodeductionType", @readonly = "true" })
                                                </div>
                                                <div class="col-md-3 control-space ml-2">
                                                    <label class="label">Penalty Amount:</label>
                                                </div>
                                                <div class="col-md-7 control-space">
                                                    @Html.TextBox("staffDedAmt", null, new { @class = "form-control control-input-border", id = "cbostaffDedAmt", placeholder = "Enter Amount"})
                                                </div>
                                                <div class="col-md-4"></div>
                                                <div class="col-md-8 control-space">
                                                    <button class="btn btn-outline-info" style="margin-bottom:10px;" type="button" id="SaveDeduction"><i class="fa fa-save"></i> Save </button>
                                                </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-paye" role="tabpanel" aria-labelledby="pills-paye-tab">
                                @*<button class="btn btn-primary ml-5" type="submit" id="NewLoan" style="margin-right: 5px;"><i class="fa fa-file-o"></i> New</button>*@

                                <br />
                                <div class="row">
                                    <div class="col-md-10">
                                        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-inline" }))
                                        {
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-3 control-space ml-2">
                                                        <label class="label">Staff ID:</label>
                                                    </div>
                                                    <div class="col-md-7 control-space">
                                                        @Html.DropDownList("staffIdPay", Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control control-input-border", id = "cbostaffIdPay" })
                                                    </div>
                                                    <div class="col-md-3 control-space ml-2">
                                                        <label class="label">Staff Name:</label>
                                                    </div>
                                                    <div class="col-md-7 control-space">
                                                        @Html.TextBox("staffNamePay", null, new { @class = "form-control control-input-border", id = "cboStaffNamePay", @readonly = "true" })
                                                        @Html.TextBox("staffNamePay", null, new { @class = "form-control control-input-border hide-txt", placeholder = "Type Name here", id = "txtstaffNamePay" })
                                                    </div>
                                                    <div class="col-md-3 control-space ml-2">
                                                        <label class="label">Pay Period:</label>
                                                    </div>
                                                    <div class="col-md-7 control-space">
                                                        @Html.DropDownList("payPeriod", new List<SelectListItem> {new SelectListItem {Text="Monthly",Value="Monthly" },
                                                    new SelectListItem { Text = "Annually", Value = "Annually" }},
                                                    "----Select----", new { @class = "form-control control-input-border", id = "cbopayPeriod" })
                                                    </div>
                                                    <div class="col-md-3 control-space">
                                                        <label class="label">Gross Income:</label>
                                                    </div>
                                                    <div class="col-md-9 control-space">
                                                        @Html.TextBox("income", null, new { @class = "form-control control-input-border", id = "txtIncome" })
                                                    </div>
                                                    <div class="col-md-3 control-space">
                                                        <label class="label">Basic Salary:</label>
                                                    </div>
                                                    <div class="col-md-9 control-space">
                                                        @Html.TextBox("basic", null, new { @class = "form-control control-input-border", id = "txtbasic" })
                                                    </div>
                                                    <div class="col-md-3 control-space">
                                                        <label class="label">Housing Allowance:</label>
                                                    </div>
                                                    <div class="col-md-9 control-space">
                                                        @Html.TextBox("housing", null, new { @class = "form-control control-input-border", id = "txthousing" })
                                                    </div>
                                                    <div class="col-md-3 control-space">
                                                        <label class="label">Utility Allowance:</label>
                                                    </div>
                                                    <div class="col-md-9 control-space">
                                                        @Html.TextBox("Utility", null, new { @class = "form-control control-input-border", id = "txtUtility" })
                                                    </div>
                                                    <div class="col-md-3 control-space">
                                                        <label class="label">Lunch Allowance:</label>
                                                    </div>
                                                    <div class="col-md-9 control-space">
                                                        @Html.TextBox("Lunch", null, new { @class = "form-control control-input-border", id = "txtLunch" })
                                                    </div>
                                                    <div class="col-md-3 control-space">
                                                        <label class="label">Transport Allowance:</label>
                                                    </div>
                                                    <div class="col-md-9 control-space">
                                                        @Html.TextBox("transport", null, new { @class = "form-control control-input-border", id = "txtTransport" })
                                                    </div>
                                                    <div class="col-md-3 control-space">
                                                        <label class="label">Others:</label>
                                                    </div>
                                                    <div class="col-md-9 control-space">
                                                        @Html.TextBox("others", null, new { @class = "form-control control-input-border", id = "txtOthers" })
                                                    </div>
                                                    <div class="col-md-3"></div>
                                                    <div class="col-md-3 control-space">
                                                        <button class="btn btn-danger" type="button" style="margin-bottom:10px;" id="calculPAYE"><i class="fa fa-calculator"></i> Calculate PAYE </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="card">
                                                        <div class="card-header"> Deductions </div>
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-md-3 control-space">
                                                                    <label class="label">Loan Deduction:</label>
                                                                </div>
                                                                <div class="col-md-9 control-space">
                                                                    @Html.TextBox("loanDeduct", null, new { @class = "form-control control-input-border", id = "txtloanDeduct", @readonly = "true" })
                                                                </div>
                                                                <div class="col-md-3 control-space">
                                                                    <label class="label">Penalty Deduction:</label>
                                                                </div>
                                                                <div class="col-md-9 control-space">
                                                                    @Html.TextBox("penaDeduct", null, new { @class = "form-control control-input-border", id = "txtpenaDeduct", @readonly = "true" })
                                                                </div>
                                                                <div class="col-md-9 control-space">
                                                                    <button class="btn btn-dark" type="button" style="margin-bottom:10px;" id="chkDeduction"><i class="fa fa-check-circle"></i> Check </button>
                                                                </div>
                                                                <div class="col-md-6 control-space">
                                                                    <label class="label"> Pension: </label>
                                                                </div>
                                                                <div class="col-md-6 control-space">
                                                                    @Html.TextBox("pension", null, new { @class = "form-control control-input-border", id = "showPension", @readonly = "true" })
                                                                </div>
                                                                <div class="col-md-6 control-space">
                                                                    <label class="label"> NHFC: </label>
                                                                </div>
                                                                <div class="col-md-6 control-space">
                                                                    @Html.TextBox("nHFC", null, new { @class = "form-control control-input-border", id = "showNHF", @readonly = "true" })
                                                                </div>
                                                                <div class="col-md-6 control-space">
                                                                    <label class="label"> Consolidated Relief: </label>
                                                                </div>
                                                                <div class="col-md-6 control-space">
                                                                    @Html.TextBox("CRelief", null, new { @class = "form-control control-input-border", id = "showCF", @readonly = "true" })
                                                                </div>
                                                                <div class="col-md-6 control-space">
                                                                    <label class="label"> Total Non-Taxable Deduction: </label>
                                                                </div>
                                                                <div class="col-md-6 control-space">
                                                                    @Html.TextBox("TNTD", null, new { @class = "form-control control-input-border", id = "showTotT", @readonly = "true" })
                                                                </div>
                                                                <div class="col-md-6 control-space">
                                                                    <label class="label"> Total Deduction: </label>
                                                                </div>
                                                                <div class="col-md-6 control-space">
                                                                    @Html.TextBox("TD", null, new { @class = "form-control control-input-border", id = "showTotDed", @readonly = "true" })
                                                                </div>
                                                                <div class="col-md-6 control-space">
                                                                    <label class="label"> Net Taxable Income: </label>
                                                                </div>
                                                                <div class="col-md-6 control-space">
                                                                    @Html.TextBox("NetTI", null, new { @class = "form-control control-input-border", id = "showNetTax", @readonly = "true" })
                                                                </div>
                                                                <div class="col-md-9 control-space">
                                                                    <button class="btn btn-dark hide-txt" type="button" style="margin-bottom:10px;" id="ShowDeduction"><i class="fa fa-circle-o"></i> Show All Deductions </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="card hide-txt" id="payEBody">
                                                    <div class="card-header"> PAY E for Selected Staff </div>
                                                    <div class="card-body">
                                                        <div class="col-md-3 control-space">
                                                            <label class="label"> PAY E : </label>
                                                        </div>
                                                        <div class="col-md-6 control-space">
                                                            @Html.TextBox("PAYE", null, new { @class = "form-control control-input-border", id = "showPayE", @readonly = "true" })
                                                        </div>
                                                        <div class="col-md-3 control-space">
                                                            <label class="label"> Net Salary : </label>
                                                        </div>
                                                        <div class="col-md-6 control-space">
                                                            @Html.TextBox("netSala", null, new { @class = "form-control control-input-border", id = "showNetSalary", @readonly = "true" })
                                                        </div>
                                                        <div class="col-md-3"></div>
                                                        <div class="col-md-3 control-space">
                                                            <button class="btn btn-info" type="submit" style="margin-bottom:10px;" id="savePayE"><i class="fa fa-save"></i> Save PAYE </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-info" id="loading" style="padding:10px; position:absolute;border:2px solid #33bb0b;left:50%;top:50%;">
                        Please wait.. <span>
                            <img src="~/Images/ajax-loader7.gif" />
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<br />

<script src="~/Content/OperationJS/PayrollJS.js"></script>
<script>
    HideAjaxLoad();
    LoadStaffs(cbostaffId);
    LoadStaffs(cbostaffIdLoan);
    LoadStaffs(cbostaffIdDed);
    LoadStaffs(cbostaffIdPay);
    LoadAllowanceType(cboallowanceDes1);
    LoadAllowanceType(cboallowanceDes2);
    LoadAllowanceType(cboallowanceDes3);
    LoadAllowanceType(cboallowanceDes4);
    LoadAllowanceType(cboallowanceDes5);
    LoadAllowanceType(cboallowanceDes6);
    LoadLoanDescription();
    LoadPenalty();
    //LoadTLA(txttotalLoanAmt);
    $(function (e) {
        $("#cboallowanceDes1").change(function (evt) {
            evt.preventDefault();
            populateAllowance(cboallowanceDes1, cboallowanceType1, txtallPercent1);
        });
        $("#cboallowanceDes2").change(function (evt) {
            evt.preventDefault();
            populateAllowance(cboallowanceDes2, cboallowanceType2, txtallPercent2);
        });
        $("#cboallowanceDes3").change(function (evt) {
            evt.preventDefault();
            populateAllowance(cboallowanceDes3, cboallowanceType3, txtallPercent3);
        });
        $("#cboallowanceDes4").change(function (evt) {
            evt.preventDefault();
            populateAllowance(cboallowanceDes4, cboallowanceType4, txtallPercent4);
        });
        $("#cboallowanceDes5").change(function (evt) {
            evt.preventDefault();
            populateAllowance(cboallowanceDes5, cboallowanceType5, txtallPercent5);
        });
        $("#cboallowanceDes6").change(function (evt) {
            evt.preventDefault();
            populateAllowance(cboallowanceDes6, cboallowanceType6, txtallPercent6);
        });
        $("#cbostaffId").change(function (evt) {
            evt.preventDefault();
            populateStafName(cbostaffId, cboStaffName, txtstaffNameAdd);
        });
        $("#cbostaffIdLoan").change(function (evt) {
            evt.preventDefault();
            populateStafName(cbostaffIdLoan, cboStaffNameLoan, txtstaffNameAddLoan);
            LoadSalary(cbostaffIdLoan, cboStaffNameLoan, cbostaffSalary);
        });
        $("#cbostaffIdDed").change(function (evt) {
            evt.preventDefault();
            populateStafName(cbostaffIdDed, cboStaffNameDed, txtstaffNameAddDed);
        });
        $("#cbostaffIdPay").change(function (evt) {
            evt.preventDefault();
            populateStafName(cbostaffIdPay, cboStaffNamePay, txtstaffNamePay);
            
        });
        $("#cbopayPeriod").change(function (evt) {
            evt.preventDefault();
            if ($("#cbopayPeriod").val() === "Monthly") {
                LoadSalaryPAYE(cbostaffIdPay, txtIncome, txtbasic, txthousing, txtTransport, txtUtility, txtLunch, txtOthers);
            }
            else if ($("#cbopayPeriod").val() === "Annually") {
                LoadSalaryPAYEAnnual(cbostaffIdPay, txtIncome, txtbasic, txthousing, txtTransport, txtUtility, txtLunch, txtOthers);
            }
        });
        //$("#txtstaffNameAddLoan").hide();
        $("#txttotalLoanAmt").focus(function () {
            LoadTLA(txttotalLoanAmt);
        });
        $("#txtrepaymentAmt").focus(function () {
            Repayment(txtrepaymentAmt);
        });
        $("#cbopenaltyType").change(function (evt) {
            evt.preventDefault();
            LoadDeductionType(cbopenaltyType, cbodeductionType);
        });
        $("#showPayE").change(function (e) {
            var GrossI = $("#txtIncome").val();
            var GrossIncome = Number(GrossI.replace(/[^0-9.-]+/g, ""));
            var GrossIn = parseFloat(GrossIncome);
            var loDed = $("#txtloanDeduct").val();
            var loanDeduct = Number(loDed.replace(/[^0-9.-]+/g, ""));
            var penDed = $("#txtpenaDeduct").val();
            var penaltyDed = Number(penDed.replace(/[^0-9.-]+/g, ""));
            var payEval = $("#showPayE").val();
            var RPayE = Number(payEval.replace(/[^0-9.-]+/g, ""));
            var CRPayE = parseFloat(RPayE);
            var net = GrossIn - CRPayE - parseFloat(loanDeduct) - parseFloat(penaltyDed);
            var netSalaryPAYE = PriceFormat(net);
            $("#showNetSalary").val(netSalaryPAYE);
        });
    });

    $("#calAllowance").click(function () {
        LoadAllowancesAmount(txtallAmount1, txtallPercent1, txtamount);
        LoadAllowancesAmount(txtallAmount2, txtallPercent2, txtamount);
        LoadAllowancesAmount(txtallAmount3, txtallPercent3, txtamount);
        LoadAllowancesAmount(txtallAmount4, txtallPercent4, txtamount);
        LoadAllowancesAmount(txtallAmount5, txtallPercent5, txtamount);
        LoadAllowancesAmount(txtallAmount6, txtallPercent6, txtamount);
    });
</script>
