@{
    ViewBag.Title = "Messages";
    ViewBag.PageTitle = "Messages";
    Layout = "~/Views/Shared/_LayoutMessages.cshtml";
}
@*<link href="~/Content/css/message.css" rel="stylesheet" />*@
@*<link href="~/Content/css/pages.css" rel="stylesheet" />*@
<style>
    .innerIcon{
        float: right;
        margin: 50px 10px;
    }
    h6{
        font-weight: 400;
    }
</style>
<div class="container" id="">
        <div class="sidebar">
            <ul class="no-bullet">
                <li class="blacktext verLine bold">
                    <a href="#" data-animation="fadein" data-plugin="custommodal" data-overlaySpeed="200" data-overlayColor="#36404a"
                       data-target="#con-close-modal" data-toggle="modal">
                        <span class="btn btn-outline-primary font-weight-bold"><i class="fa fa-pencil"></i>Compose</span>
                    </a>
                </li>
                <li class="active msg-link blacktext verLine bold" id="CallInboxMsg">
                    <a href="javascript:void(0);">
                        <i class="icon-mail"></i>
                        Inbox(<span id="inboxcount">43</span>)
                    </a>
                </li>
                <li id="CallSentMsg" class="msg-link blacktext verLine bold">
                    <a href="javascript:void(0);">
                        <i class="fa fa-send"></i>
                        Sent(<span id="sentcount">43</span>)
                    </a>
                </li>
                <li class="msg-link blacktext verLine bold" id="CallDeletedMsg">
                    <a href="javascript:void(0);">
                        <i class="fa fa-trash-o"></i>
                        Trash(<span id="trashcount">0</span>)
                    </a>
                </li>
            </ul>
        </div>
        <div class="inbox">
            @*<ul class="" id="myTab">
                <li class="message">
                    <input type="checkbox" value="selected" class="check">
                    <span id="senderName" class="sender">Oluwasegun Ayobami</span>
                    <span id="msgSubject" class="subject">Starting the Meeting Now...</span>
                    <span id="msgDate" class="date">Monday, 26-07-2019</span>
                </li>
            </ul>*@
        </div>
		<div class="inbox-body"></div>
    </div>


<!-- Modal -->
<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Compose Message</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" id="lblsuccpref">

                </div>
                <div class="card-box"></div>
                @using (Html.BeginForm())
                {
                    <div class="row">
                        <div class="col-sm-3 form-group">
                            <label class="label">To:</label>
                        </div>
                        <div class="col-md-4 form-group">
                            @Html.DropDownList("staff", Enumerable.Empty<SelectListItem>(), "Select Staff---", new { @class = "form-control control-input-border", id = "cbostaff" })
                        </div>
                        <div class="col-md-5 form-group">
                            @Html.TextBox("contactName", null, new { @class = "form-control control-input-border", id = "txtcontactName", @readonly = "true" })
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="label">Subject:</label>
                        </div>
                        <div class="col-md-9 form-group">
                            @Html.TextBox("subject", null, new { @class = "form-control control-input-border", id = "txtsubject" })
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="label">Body:</label>
                        </div>
                        <div class="form-group col-md-9">
                            @Html.TextArea("messageBody", null, new { @class = "form-control control-input-border summernote", id = "txtmessageBody", row = 10 })
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button class="btn btn-purple waves-effect waves-light" data-dismiss="modal" type="submit" id="SendMessage">
                    <span>Send</span> <i class="fa fa-send m-l-10"></i></button>
            </div>
        </div>
    </div>
</div>

        <script src="~/Content/OperationJS/MessageJS.js"></script>
        <script type="text/javascript">
            LoadStaffs(cbostaff);
            var sender = "@Request.RequestContext.HttpContext.Session["OtherID"]";
            var sendername = "@Request.RequestContext.HttpContext.Session["FullName"]";
            $(function (e) {
                $("#cbostaff").change(function () {
                    populateStafName(cbostaff, txtcontactName)
                })
                $("#CallInboxMsg").click(function () {
                    $("#CallInboxMsg").addClass("active");
                    $("#CallSentMsg").removeClass("active");
                    $("#CallDeletedMsg").removeClass("active");
                    LoadInboxs(sender);
                    countIn(sender);
                })
                $("#CallSentMsg").click(function () {
                    $("#CallSentMsg").addClass("active");
                    $("#CallInboxMsg").removeClass("active");
                    $("#CallDeletedMsg").removeClass("active");
                    LoadSentMsg(sender);
                    countSe(sender);
                })
                $("#CallDeletedMsg").click(function () {
                    $("#CallDeletedMsg").addClass("active");
                    $("#CallInboxMsg").removeClass("active");
                    $("#CallSentMsg").removeClass("active");
                    LoadTrashMsg(sender);
                    countTra(sender);
                })
            });
            $("#lblsuccpref").hide();

            window.onload = function () {
                countIn(sender);
                countSe(sender);
                countTra(sender);
            }; // end window.onload
        </script>

